name: build
run-name: Build openwrt packages
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        openwrt: ['23.03.5', '24.10.5', '25.12.0-rc5', 'snapshot']
        include:
          - openwrt: '23.03.5'
            sdk: 'https://downloads.openwrt.org/releases/23.05.5/targets/x86/64/openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz'
          - openwrt: '24.10.5'
            sdk: 'https://downloads.openwrt.org/releases/24.10.5/targets/x86/64/openwrt-sdk-24.10.5-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst'
          - openwrt: '25.12.0-rc5'
            sdk: 'https://downloads.openwrt.org/releases/25.12.0-rc5/targets/x86/64/openwrt-sdk-25.12.0-rc5-x86-64_gcc-14.3.0_musl.Linux-x86_64.tar.zst'
          - openwrt: 'snapshot'
            sdk: 'https://downloads.openwrt.org/snapshots/targets/x86/64/openwrt-sdk-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          path: "./feed"
      - name: Determine decompression flag
        id: decompression
        run: |
          url="${{ matrix.sdk }}"
          if [[ "$url" == *.tar.xz ]]; then
            echo "decompress_flag=--xz" >> $GITHUB_ENV
          elif [[ "$url" == *.tar.zst ]]; then
            echo "decompress_flag=--zstd" >> $GITHUB_ENV
          else
            echo "Unknown file extension: $url" >&2
            exit 1
          fi
      - name: Download SDK
        run: |
            mkdir -p ./sdk
            wget -O- "${{ matrix.sdk }}" | tar ${{ env.decompress_flag }} --strip-components=1 -x -C ./sdk
      - name: Create feeds.conf
        run: |
            cp -v feeds.conf.default feeds.conf
            echo "src-link sqm_autorate $GITHUB_WORKSPACE/feed" | tee -a feeds.conf
        working-directory: ./sdk
      - name: Update and install feeds
        run: |
            ./scripts/feeds update -a
            ./scripts/feeds install -a
        working-directory: ./sdk
      - name: Create default config
        run: make defconfig
        working-directory: ./sdk
      - name: Build lua-vstruct
        run: make package/lua-vstruct/compile
        working-directory: ./sdk
      - name: Build sqm-autorate
        run: make package/sqm-autorate/compile
        working-directory: ./sdk
      - name: Archive packages
        uses: actions/upload-artifact@v4
        with:
          name: 'packages-${{ matrix.openwrt }}'
          path: |
            ./sdk/bin/packages/**/lua-vstruct/*.apk
            ./sdk/bin/packages/**/lua-vstruct/*.ipk
            ./sdk/bin/packages/**/sqm_autorate/*.apk
            ./sdk/bin/packages/**/sqm_autorate/*.ipk
